@font-face {
	font-family: 'telegraf-regular';
	src: url( ./assets/fonts/Telegraf_Regular.otf ) format( 'opentype' );
}

@font-face {
	font-family: 'telegraf-bold';
	src: url( ./assets/fonts/Telegraf_Bold.otf ) format( 'opentype' );
}

* {
	font-family: 'telegraf-regular';
	user-select: none;
	color: white;	
	/* -webkit-tap-highlight-color: transparent; */
}

.design-is-motion h1, .design-is-motion h2 {
	color: #7981bf;
}

h2 {
	font-family: 'telegraf-regular';
	font-size: 3rem;
	font-weight: 100;
	margin: 4rem 0;

	text-align: center;

	width: 100%;

	position: absolute;
}

h1 {
	font-family: 'telegraf-bold';
	font-size: 7.5rem;
	margin: 0;

	text-align: center;
	display: flex;

	justify-content: center;
    align-items: center;

	height: 100vh;
	width: 100%;
}

body {
	margin: 0;
	background: #000;
}

canvas {
	width: 100% !important;
	height: 100% !important;
}